.music {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.musicAlbums .album {
    padding: 7px;
    color: #61dafb;
}

.album .activeAlbum {
    color: greenyellow;
}

.musicAlbums {
    color: greenyellow;
}

.songs {
    padding: 5px;
}

.songs .song {
    color: greenyellow;
}