.music {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.musicAlbums .album {
    padding: 5px;
}

.album .activeAlbum {
    color: gold;
}

.songs {
    padding: 5px;
}

.songs .song {

    color: blue;
}