<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devox - Leaflet</title>
    <meta http-equiv="Content-Type" content="text/html" ; charset=utf-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="asset/leaflet-1.3.4/leaflet.css">
    <script scr="assets/leaflet-1.3.4/leaflet.js"></script>

    <link rel="stylesheet" href="asset/css/style.css">

    <script scr="datas/data.js"></script>
    <script scr="datas/jsochrones.js"></script>
    <script scr="datas/journey.js"></script>
    <script scr="live.js"></script>

</head>
<body onload="init()">
    <nav>
        <img src='https://my-calend.ru/data/source/pinsk-gerb.png' width='83' height='75'/>
        <h1>Leaflet</h1>
        <span class="twitter-account">@atmm</span>
    </nav>
    <div id="map"></div>

</body>
</body>
</html>