.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 5px;
    color: #61dafb;
}

.dialogItem a {
    font-size: 20px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.dialogsItems a.activeDialog {
    color: gold;
}

.messages {
    font-size: 20px;
    color: lightgreen;
    padding: 5px;
}

.messages .message {

}