.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 5px;
    color: white;
}

.dialogItem a {
    color: white;
}

.dialogsItems a.activeDialog {
    color: gold;
}

.messages {
    padding: 5px;
}

.messages .message {

}